NODE_ENV=development
PORT=3000
SQLITE_DB_PATH=./data/sobaike_janao.db
JWT_SECRET=
ADMIN_EMAIL=admin@sobaikejanao.org
ADMIN_INITIAL_PASSWORD=
ALLOWED_ORIGIN=
PRIVATE_UPLOAD_DIR=./data/private-uploads
VITE_GOOGLE_MAPS_API_KEY=
VITE_SUPABASE_URL=https://ahiaymyqfmyyrjkwgvhi.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
